<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Routes</key>
	<dict>
		<key>view1</key>
		<dict>
			<key>class</key>
			<string>View1Controller</string>
			<key>properties</key>
			<dict>
				<key>modalTransitionStyle</key>
				<integer>1</integer>
				<key>uid</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>view2</key>
		<dict>
			<key>method</key>
			<dict>
				<key>param1</key>
				<dict>
					<key>frame</key>
					<string>{{10, 10}, {200, 25}}</string>
				</dict>
				<key>name</key>
				<string>initWithDictionnary</string>
			</dict>
			<key>class</key>
			<string>View2Controller</string>
		</dict>
		<key>view3</key>
		<dict>
			<key>method</key>
			<dict>
				<key>param1</key>
				<string>View3Controller</string>
				<key>name</key>
				<string>initWithNibName</string>
			</dict>
			<key>class</key>
			<string>View3Controller</string>
		</dict>
	</dict>
</dict>
</plist>
